<% provide(:title, "About") %>

<div class="container">
  <div class="row">
    <div class="box">
        <div class="col-lg-12">
            <%= image_tag("chalk.jpg", class: "img-responsive img-full")  %>
              <hr class="tagline-divider">
              <h2 class="intro-text text-center">About
                    <strong>Us</strong>
              </h2>
            <hr class="tagline-divider">
            <br />
            <p>TriBic Software is a brand new start-up that is bringing a unique business model to the software industry.  Balancing between professional services and software provider, we are developing a portfolio of SaaS products, that will provide value to small and medium-sized businesses so that they can operate more effectively, efficiently, and profitably.</p>
                    <p>We are very excited to start operations and implement our proprietary 'three-tiered business model' - specifically designed to ensure we build solid client relationships that guarantee a mutually agreeable and equally beneficial partnership.</p>
            <p>
            Our mission is to develop partnerships over negotiating contracts. We want to create and maintain a collaborative business eco-system between customers, vendors, and employees, rooted in the belief that focusing on the individuals, first, will pay off in: customer satisfaction; employee happiness; and loyalty from both - This is our definition of success.
              </p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
            <hr class="tagline-divider">
              <h2 class="intro-text text-center">Our
                  <strong>Team</strong>
              </h2>
            <hr class="tagline-divider">
          <P></p>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <%= image_tag("callie.jpg", class: "img-square img-responsive") %>
              <h3>Callie Boyles
                <small>President</small>
              </h3>
              <p>With extensive skills in Sales,  Marketing, and Customer Relationships, Callie brings fresh insights and creative ideas to the table.
              </p>
              <p>Her experience in Social Media Marketing and Consumer Sales are pivotal to the growth of our company and will add a well-balanced partnership. Callie's ambition and drive, combined with compassion and empathy, are key components in her unique ability to connect with clients and ensure their confidence in our business.
              </p>
            </div>
            
            <div class="col-md-5">
                <%= image_tag("amie.jpg", class: "img-square img-responsive") %>
                <h3>Amie Fudge
                    <small>CEO</small>
                </h3>
                <p>Amie is a seasoned IT professional with certifications as an Agile Scrum Master and Safe Agile practitioner. 
                </p>
                <p>For nearly 25 years, she has established hands-on experience and exposure to every phase and facet of delivering software, utilizing a variety of Software Delivery processes. From this, she has gained unique insights on which processes work best, given the customer and type of product being developed.  
                </p>
                <p>With her experience in both IT services and IT product, Amie has learned to identify the pros and cons in each and is confident her business model will strike the best balance between the two.
                </p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
        <!-- <div class="row">
        <div class="box">
        <div class="col-lg-12">
            <hr class="tagline-divider">
              <h2 class="intro-text text-center">The
                    <strong>name</strong>
              </h2>
            <hr>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>TriBic (pronounced /Try.Bic/) is a small name that holds significant punch, paralleling our small company.</p>
            <p>Representing balance between two opposite sides with a neutral middle we, representing our vision of blending the best of two business models.  We have also developed a proprietary pricing method which we have defined as a "Three pillar pricing structure".  We would have been amiss to not include this number somewhere in our identity.  Hence the Tri in TriBi
            </p>
          </div>
          <div class="col-md-6">
              <p>By concatenating Tri with Bic, we represent three phrases of 3 B's, I's and C's.</p>
              <ol>
                <li>Bestowed Inspiration Conceived</li>
                <li>Bright Ideas Collaborated</li>
                <li>Balanced Infinite Creation</li>
              </ol>
              <p>All three of these B-I-C phrases resonate strongly with our vision and intended culture at TriBic Software.</p>
              </p>
          </div>
        </div> 
      </div>-->
  </div>
  <div class="clearfix"></div>
</div>
</div>
            