<% provide(:title, "Tribic Announces Beta Release") %>


    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                <%= image_tag("eventx_release.jpg", class: "img-responsive img-full", alt:"celebration image for eventx beta release")  %>
                </div>
                <div class="col-lg-12 text-center">
                    <h2>Tribic Software Announces First Beta Release
                        <br>
                        <small>January 16, 2019</small>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    <p>TriBic Software is pleased to announce that the closed beta trial of their E/venTx e-ticketing solution, is now available for use. In sharing this, TriBic hopes to gain insight from you for improvements as we continue developing this online marketplace. </p>

                    <p>E/venTx was designed with users in mind.  With simplistic design and easy to use management  tools you are guaranteed to achieve your target goal while promoting and selling your events. </p>

                    <p>Flexible configurations allow you to set your own payment settings, venues, seat-maps, and ticket scanning directly from your smartphone or tablet, you can manage your box office from the convenience of your own home, or on the go. </p>

                    <p>A complimentary one on one demo, is included with every sign up, to ensure you are comfortable and confident in managing your new custom box office. Along with access to secure login, beta testers will receive instructions on how to report bugs and suggest ideas for the product roadmap.</p>

<p>We look forward to your help in the coming months to stabilize the product, expand its roadmap and feature set, as well as promote and manage your events.</p>

<p>Sign up today on the <%= link_to "E/venTx", "https://www.eventx.events#contacts" %> website.
<div class="col-md-3"></div> 
</div>

                    
                    
                    </div>
                </div>
             </div>
         </div>  
    </div>
              

    