<% provide(:title, "Portfolio") %>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <%= image_tag("mindmap.jpg", class: "img-responsive img-full") %>
          <hr class="tagline-divider">
          <h2 class="intro-text text-center">What <strong>we do</strong>
          </h2>
          <hr class="tagline-divider">
          <P></p>
        </div>
        <div class="row">
          <br>
            <div class="col-md-6">
            
              <p>As a small business owner, you face many challenges managing both your internal process and sales pipleline. Custom "one-off" software solutions that facilitate your operations tend to be at a high cost both in dollars and time.
              </p>
              
            </div>
            <div class="col-md-6">
              <p>TriBic offers low cost SaaS solutions for your small to medium sized business, catered to your specific industry needs and company budget.  
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="tagline-divider"></hr>
              <h2 class="intro-text text-center">Our <strong>products</strong>
              </h2>
            <hr class="tagline-divider"></hr>
            <br>
            <div class="col-md-12"> 
              <p class="text-center"><%= link_to image_tag("eventx.png", size:"100x100", alt:"eventx logo", class:"logo"), "https://www.eventx.events" %></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>E/venTx (aka product wonderdog) is an online box office mobile ticketing marketplace that provides promoters all the tools they need to manage events of any type and size.</p>
                </div>
              <div class="col-md-6">
                <p>To participate in the private beta trial, visit the site <%=link_to "E/venTx Events", "https://www.eventx.events/#contact" %>.From here we will review your details and, if accepted, send you account access and provide you with the tools needed to request a one on one demo, as well as log defects and submit new feature ideas</p>
              </div>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-12">
            <hr class="tagline-divider"></hr>
              <h2 class="intro-text text-center">Our <strong>clients</strong>
              </h2>
            <hr class="tagline-divider"></hr>
            <br>
            <div class="col-md-12"> 
              <p class="text-center"><%= link_to image_tag("porpoise.png", size:"100x100", alt:"porpoise logo", class:"logo"), "https://www.porpoise.com" %></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>From engagement to reporting, Porpoise allows you
to easily manage your company’s community impact, in a way that works for you.</p>
                </div>
              <div class="col-md-6">
                <p>"Hiring an Agile Coach was one of the most important decisions we've made to level up our delivery team. The way that Amie specifically provided this coaching was very effective. Instead of taking on the roll of Scrum Master temporarily, which is what I had envisioned, she really pushed us to figure out who the Scrum Master should be and let them lead the group right away. That way she become an advisor to the team lead by the new Scrum Master. No transition needed, already moving as a full team. And as for her knowledge, she provided clarity on the main framework, and insight and suggestions to the verify specific scenarios we faced for the first few sprints. She's professional, business savvy and technically sound. We miss her already. I would not hesitate to bring Amie alongside your newly formed or experienced Scrum Team. I would love to keep Amie on a retainer as a specialty coach as we face new challenges and grow as a team, but I can't keep her from other companies that also need her coaching skills." ~Denis Daigle, Co-Founder, Porpoise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


      
