
<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col">
      <center>
        <%= image_tag('lightbulbgreen.png', size: "80x80", class: "img-fluid" ) %>
<br>
      </center>
    </div>
  </div>

<div class="row">
  <div class="col">
    <center>
      <%= link_to facebook_path, class: :p do %>
      <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
      <% end %>&nbsp;&nbsp;
    <%= link_to twitter_path, class: :p do %>
      <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
    <% end %>&nbsp;&nbsp;
    <%= link_to linkedin_path, class: :p do %>
      <i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
    <% end %>&nbsp;&nbsp;
    <%#= link_to google_path, class: :p do %>
      <!-- <i class="fab fa-google-plus-g fa-2x" aria-hidden="true"></i> -->
    <%# end %>
  </center>

  </div>
</div>
<br><br>
<div class="row">
  <div class="col">


          2018 &copy;TriBic software

        </div>
      </div>
  </div>
